$primary: #839a80;

.index-html {
    font-size: calc(100vw / 14.4);
    height: 100%;
}
.index-body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
//   background-image: url(public/img/meeting.png);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}
* {
  box-sizing: border-box;
}
.index-method{
    background: rgba(darken($primary,20%), 0.85);
}
.index-note_wrap{
    background: #fff;
    padding: 1em 2em;
    width: 70%;
    height: 80%;
    margin: 0px auto;
    box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.7);
  }
  .index-note{
    height: 80%;
    background-image:
      linear-gradient(
        180deg,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 97%,
        #ddd 97%,
        #ddd 100%
      );
    background-size:100% 2em;
    line-height:2;
  }
.index-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.meeting_name{
    font-size: 0.28rem;
}
.index-box-content{
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    transform: rotate(+2deg);
    .index-name {
        border-left: solid 0.1rem #839a80;
        margin-bottom: 20px;
    }
}
.index-time{
    margin-top: 0.5rem;
}
.container{
    
     &-box{
        margin-top: 0.5rem;
        .btn-border-gradient-wrap {
            display: inline-block;
            padding: 0.02rem;
            border-radius: 0.05rem;
            background: -webkit-gradient(linear, left top, right top, from(yellow), to(green));
            background: -webkit-linear-gradient(left, yellow, green);
            background: linear-gradient(to right, yellow, green);
            margin: 0 0.1rem;
            .btn-border-gradient {
                color: #8fc31f;
                background: #495058;
            }
            .btn {
                font-size: 0.16rem;
                font-weight: 700;
                line-height: 1.5;
                position: relative;
                display: inline-block;
                padding: 0.1rem 0.4rem;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
                text-align: center;
                vertical-align: middle;
                text-decoration: none;
                letter-spacing: 0.1em;
                border-radius: 0.05rem;
            }
            &:hover {
                background: -webkit-gradient(linear, right top, left top, from(yellow), to(green));
                background: -webkit-linear-gradient(right, yellow, green);
                background: linear-gradient(to left, yellow, green);
            }
        }
    }
}

.index-memox {
    position: relative;
    background: #fffde7;
    width: 7rem;
    height: 3.5rem;
    padding: 1.5em 1em;
    margin: 2em 0;
    margin-bottom: 0.6rem;
    // transform: rotate(-2deg);でちょこっと傾ける
    transform: rotate(-2deg);
    box-shadow: 1px 1px 4px rgba(160, 143, 143, 0.2);
    color: #795548;
    th {
        font-size: 0.3rem;
        padding-left: 0.1rem;
        // transform: rotate(+4deg);
    }
    td {
        font-size: 0.3rem;
        margin: 0; 
        padding-left: 0.25rem;
    }
}
// タイトル
.index-memox::before {
    content: "もくもく会";
    position: relative;
    display: inline-block;
    border-bottom: 4px solid #795548;
    // タイトル部分はborder-radiusを使って手書き風の下線に
    border-radius: 0 0 40% 5% / 0 0 15% 20%;
    padding: 0 1em 0.1em 0.2em;
    font-size: 0.25rem;
    font-weight: bold;
    transform: rotate(-5deg);
}
// テープ
.index-memox::after {
    content: "";
    position: absolute;
    left: 50%;
    top: -15px;
    margin-left: -75px;
    width: 150px;
    height: 30px;
    background: rgba(245, 245, 245, 0.7);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    transform: rotate(-4deg);
}
.memox ol {
    margin: 1em 0.5em 0 2em;
    padding: 0 0 0 0;
}
.memox ol li {
    margin-bottom: 0.5em;
}

/* ヘッダー */
.header {
    width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      border: solid black 0.5px;
      background:#312f2fb0;
  }
  /*==================================================
        MENUがCLOSEに
  ===================================*/
  
  /*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
  .openbtn4{
    position: relative;/*ボタン内側の基点となるためrelativeを指定*/
    background:#ffffffb0;
    cursor: pointer;
      width: 50px;
      height:50px;
    border-radius: 5px;
  }
  
  /*ボタン内側*/
  .openbtn4 span{
      display: inline-block;
      transition: all .4s;/*アニメーションの設定*/
      position: absolute;
      left: 14px;
      height: 2px;
      border-radius: 5px;
    background: rgb(0, 0, 0);
      width: 45%;
    }
  
  
  .openbtn4 span:nth-of-type(1) {
    top:13px; 
  }
  
  .openbtn4 span:nth-of-type(2) {
    top:19px;
  }
  
  .openbtn4 span:nth-of-type(3) {
    top:25px;
  }
  
  .openbtn4 span:nth-of-type(3)::after {
    content:"Menu";/*3つ目の要素のafterにMenu表示を指定*/
    position: absolute;
    top:5px;
    left:-2px;
    color: rgb(0, 0, 0);
    font-size: 0.6rem;
    text-transform: uppercase;
  }
  
  /*activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更*/
  
  .openbtn4.active span:nth-of-type(1) {
      top: 14px;
      left: 18px;
      transform: translateY(6px) rotate(-45deg);
      width: 30%;
  }
  
  .openbtn4.active span:nth-of-type(2) {
    opacity: 0;
  }
  
  .openbtn4.active span:nth-of-type(3){
      top: 26px;
      left: 18px;
      transform: translateY(-6px) rotate(45deg);
      width: 30%;
  }
  
  .openbtn4.active span:nth-of-type(3)::after {
    content:"Close";/*3つ目の要素のafterにClose表示を指定*/
      transform: translateY(0) rotate(-45deg);
    top:5px;
    left:4px;
  }

  /*========= バーガーメニューの中 ===============*/

   #menu {
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-color: #52bcc0;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transform: scale(0);/*scaleをはじめは0に*/
    transition: all .6s;
  }
  #menu.open {
    transform: translate(0);
  }
  #menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  #menu li {
    padding: 8px;
    color: #fff;
    border-bottom: 1px solid #fff;
  }



/* アコーディオン */









 
 

  /* メールアイコン */

  .mailbtn {
    position: relative;/*ボタン内側の基点となるためrelativeを指定*/
    background:#ffffff;
    cursor: pointer;
      width: 50px;
      height:50px;

    border-radius: 5px;
  }

  .far {
      font-size: 30px;
      margin-top: 12%;
      margin-left: 20%;
  }
  .far::after {
    content:"Contact";/*3つ目の要素のafterにMenu表示を指定*/
    position: absolute;
    top:37px;
    left:-2px;
    color: rgb(0, 0, 0);
    font-size: 0.2rem;
    /* font-weight: bold; */
    text-transform: uppercase;
  }


/* ヘッダーのロゴ */
.lead{
    font-size: 1.5rem;
}