.mypage-html {
    font-size: calc(100vw / 14.4);
    height: 100%;
}
.mypage-body {
    font-size: 0.16rem;
    // background-color: #94809a;
    // background-image: url(public/img/meeting2.png);
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-attachment: scroll;
    // opacity:0.3;
    // background: rgba(255,255,255,0.1);
    .mypage-method {
        background-image: url(public/img/meeting2.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background: rgba(darken($primary, 20%), 0.85);
        height: 100%;
    }
}

$primary: #839a80;

.user-body {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    .userinformation {
        height: 6.5rem;
        width: 6.5rem;
        // padding: 0.5em 10em;
        // margin: 2em 0;
        color: #5d627b;
        background: #ffffff; /*背景色*/
        // border-radius: 15px;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32); /*影*/
        margin-top: 0.5rem;
        // margin-bottom: 0.5rem;
        // 中身の文字
        text-align: center;
    }
    .userinformation-content {
        // border: #795548 solid 1px;
        height: 75%;
        width: 40%;
        margin-top: 0.5rem;
        margin-left: 0.15rem;
        .userimg {
            display: flex;
            // justify-content: space-around;
            img {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                margin-bottom: 0.3rem;
            }
        }
        .username-title {
            font-size: 0.25rem;
            margin-bottom: 0.1rem;
            border-left: solid 0.1rem #839a80;
            padding-left: 0.1rem;
        }
        .username{
            font-size: 0.3rem;
        }
        // 紹介文
        .myintroduce-title{
            font-size: 0.25rem;
            margin-bottom: 0.2rem;
            border-left: solid 0.1rem #839a80;
            padding-left: 0.1rem;
        }
        .myintroduce {
            border: #795548 solid 1px;
            height: 0.8rem;
            margin-bottom: 0.2rem;
        }
        .cancel-the-membership {
            a {
                color: #795548;
            }
        }
    }
}

// プロフィール

.memox {
    position: relative;
    background: #fffde7;
    width: 65%;
    height: 6.7rem;
    padding: 1.5em 1em;
    // transform: rotate(-2deg);でちょこっと傾ける
    // transform: rotate(-2deg);
    box-shadow: 1px 1px 4px rgba(160, 143, 143, 0.2);
    color: #795548;
    .userinformation-create {
        display: contents;

        a {
            margin-left: 60%;
            color: #795548;
        }
    }
}
// タイトル
.memox::before {
    content: "My Profile";
    position: relative;
    display: inline-block;
    border-bottom: 4px solid #795548;
    // タイトル部分はborder-radiusを使って手書き風の下線に
    border-radius: 0 0 40% 5% / 0 0 15% 20%;
    padding: 0 1em 0.1em 0.2em;
    font-size: 0.35rem;
    font-weight: 900;
    transform: rotate(-5deg);
}
// テープ
.memox::after {
    content: "";
    position: absolute;
    left: 50%;
    top: -15px;
    margin-left: -75px;
    width: 150px;
    height: 30px;
    background: rgba(245, 245, 245, 0.7);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    transform: rotate(-4deg);
}
.memox ol {
    margin: 1em 0.5em 0 2em;
    padding: 0 0 0 0;
}
.memox ol li {
    margin-bottom: 0.5em;
}

// ノート
.mypage-note_wrap{
    background: #fff;
    padding: 1em 2em;
    width: 45%;
    margin-left: 10%;
    margin-bottom: 0.2rem;
    // box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.7);
  }
  .mypage-note{
    height: 80%;
    background-image:
      linear-gradient(
        180deg,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 97%,
        #ddd 97%,
        #ddd 100%
      );
    background-size:100% 2em;
    line-height:2;
  }

.mypage-article{
    display: flex;
}