$primary: #839a80;

.show-body {
  // background-image: url(public/img/meeting.png);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.show-wrapper {
  
//   background: rgba(#839a80, 0.5);
}
